@model Data.ViewModels.FoodItemsViewModel
@{
    ViewData["Title"] = "Menu";
}
<div class="non-sidebar-page">

    <div class="text-center">
        <h1 class="display-4">Menu</h1>
    </div>
    <div style="margin-left:200px">

        @{
            if (Model.FoodCategoriesList == null)
            {
                return;
            }

            FoodCategory categoryName = new FoodCategory("");

            foreach (var foodCategory in Model.FoodCategoriesList)
            {
                string tempFoodCategory = "";

                if (foodCategory.FoodItems != null && foodCategory.FoodItems.Count > 0)
                {

                    if (foodCategory.FoodItems != null)
                    {


                        @foreach (var menuItem in foodCategory.FoodItems)
                        {
                            if (menuItem.foodCategory != tempFoodCategory)
                            {
                                <h2 class="categoryName">@menuItem.foodCategory</h2>

                                tempFoodCategory = menuItem.foodCategory;
                            }
                            <p>
                                <span class="menuItem">@menuItem.dishName </span>
                                <span class="menuItem">@menuItem.koreanName </span>
                                <span class="menuPrice">$ @menuItem.price</span>
                            </p>
                            <p class="menuDescription">@menuItem.description</p>
                        }

                    }
                }
            }

        }

    </div>
</div>