@model Data.ViewModels.FoodItemsViewModel
@{
    ViewData["Title"] = "Menu";
}
<div class="non-sidebar-page">

    <div class="text-center">
        <h1 class="display-4">Menu</h1>
    </div>
    <div style="margin-left:200px">

        @{
            if (Model.FoodItems == null)
            {
                return;
            }

            FoodCategory categoryName = new FoodCategory("");

            foreach (var menuItem in Model.FoodItems)
            {
                if (categoryName != menuItem.foodCategory)
                {
                    <h2 class="categoryName">@menuItem.foodCategory</h2>

                    categoryName = menuItem.foodCategory;
                }
                <p>
                    <span class="menuItem">@menuItem.dishName </span>
                    <span class="menuItem">@menuItem.koreanName </span>
                    <span class="menuPrice">$  @menuItem.price</span>
                </p>
                <p class="menuDescription">@menuItem.description</p>
            }


        }

    </div>
    </div>