@using Data.Models.FoodMenus
@model Data.ViewModels.FoodItemsViewModel
@{
    ViewData["Title"] = "Menu";
}
<div class="non-sidebar-page">

    <div >
        <h1 class="page-titles">Menu</h1>
    </div>
    <div>
        <div style="display: inline-block; float: left; margin-bottom: 100px;">

            @{
                if (Model.FoodCategoriesList == null)
                {
                    return;
                }

                FoodCategory categoryName = new FoodCategory("");

                foreach (var foodCategory in Model.FoodCategoriesList)
                {
                    string tempFoodCategory = "";

                    if (foodCategory.FoodItems != null && foodCategory.FoodItems.Count > 0)
                    {

                        if (foodCategory.FoodItems != null)
                        {
                            <h2 class="categoryName">@foodCategory.Category</h2>
                            <div class="dine-in-menuitems-list">

                                @foreach (var menuItem in foodCategory.FoodItems)
                                {

                                    @*if (menuItem.foodCategory != tempFoodCategory)
                                        {
                                            <h2 class="categoryName">@menuItem.foodCategory</h2>

                                            tempFoodCategory = menuItem.foodCategory;
                                        }*@
                                    <div style="display:block">
                                        <p>
                                            <span class="menuItem">@menuItem.dishName </span>
                                            <span class="menuItem">@menuItem.koreanName </span>
                                            <span class="menuPrice">$ @menuItem.price</span>
                                        </p>
                                        <p class="menuDescription">@menuItem.description</p>
                                    </div>
                                }

                            </div>
                        }
                    }
                }

            }

        </div>

        <div class="position-sticky" style="float: right; display: inline-block;margin-top: 100px">

            @await Component.InvokeAsync("PhotoCarousel")

        </div>
    </div>
</div>