@model Data.ViewModels.FoodItemsViewModel
@{
    ViewData["Title"] = "Menu";
}
<div class="non-sidebar-page">

    <div class="text-center">
        <h1 class="display-4">Menu</h1>
    </div>
    <div style="margin-left:200px">

        @{
            if (Model.FullFoodMenuList == null)
            {
                return;
            }

            FoodCategory categoryName = new FoodCategory("");

            foreach (var foodCategory in Model.FullFoodMenuList)
            {
                if (foodCategory.FoodItems != null)
                { 
                    
                    <h2 class="categoryName">@foodCategory.Category</h2>


                    @foreach (var menuItem in foodCategory.FoodItems)
                    {
                        <p>
                            <span class="menuItem">@menuItem.dishName </span>
                            <span class="menuItem">@menuItem.koreanName </span>
                            <span class="menuPrice">$ @menuItem.price</span>
                        </p>
                        <p class="menuDescription">@menuItem.description</p>
                    }

                }
            }


        }

    </div>
</div>