@model Data.ViewModels.FoodMenuViewModel
@{
    ViewData["Title"] = "Take Out";
}




    <div class="left-menu-sidebar">

        @{

            if (Model.FoodCategoryList == null)
            {
                return;
            }


            foreach (var category in Model.FoodCategoryList)
            {

                <a class="admin-nav-link" asp-area="" asp-controller="Menu" asp-action="TakeOutMenu" asp-route-id="@category.Id.ToString()">@category.Category</a>


            }

        }
        
    </div>

    <div class="container" style="margin-left: 200px;">
        
        <div class="row">
            <h2 class="page-titles">Take Out Menu</h2>
            <div class="col-md-5 take-out-menu">
                @{
                    if (Model.FoodItemList == null || Model.FoodItemList.Count < 1)
                    {
                        return;
                    }

                    //string categoryName = "";

                    foreach (var menuItem in Model.FoodItemList)
                    {
                        @*if (categoryName != menuItem.categoryName)
                            {
                            <h2 class="categoryName">@menuItem.categoryName</h2>

                            categoryName = menuItem.categoryName;
                            }*@
                        <p>
                            <span class="menuItem">@menuItem.dishName </span>
                            <span class="menuPrice">$ @menuItem.price</span>

                            <a asp-area="" asp-controller="Cart" asp-action="AddToCart" asp-route-itemIdToAdd="@menuItem.Id" style="font-weight: bold; margin-left: 10px">
                                <i class="fas fa-plus-square"></i> ADD
                            </a>
                        </p>
                        <p class="menuDescription">@menuItem.description</p>
                    }


                }

            </div>
            <div class="col-md-2 order-1">
                <img src="~/images/Takeoutpicture.jpg" style="margin-top: 60px;width:80%" />
            </div>
            <div class="col-md-5 order-5">

                @await Component.InvokeAsync("FoodOrderCart")

            </div>
        </div>
    </div>
