@model RamenOkiDoki.ViewModels.FoodItemsViewModel
@{
    ViewData["Title"] = "Take Out";
}

<div class="text-center">
    <h1 class="display-4">Menu</h1>
</div>

<div class="combo-page">

    <div class="left-menu-sidebar">

        @{

            if (Model.FoodItems == null)
            {
                return;
            }

            string sidebarCategoryName = "";

            foreach (var menuItem in Model.FoodItems)
            {
                if (sidebarCategoryName != menuItem.categoryName)
                {
                    <h2 class="categoryName">@menuItem.categoryName</h2>

                    sidebarCategoryName = menuItem.categoryName;
                }
            }
        }

    </div>


    <div class="right-side-content">

        @{

            string categoryName = "";

            foreach (var menuItem in Model.FoodItems)
            {
                if (categoryName != menuItem.categoryName)
                {


                    <h2 class="categoryName"> @menuItem.categoryName </h2>

                    categoryName = menuItem.categoryName;

                    <p>
                        <span class="menuItem">@menuItem.dishName </span> <span class="menuItem">@menuItem.koreanName </span><span class="menuPrice">$ @menuItem.price</span>
                    </p>
                    <p class="menuDescription">@menuItem.description</p>
                }

            }
        }
    </div>

</div>