@model Data.ViewModels.FoodMenuViewModel
@{
    ViewData["Title"] = "CheckOut";
}

<h1 class="page-titles">CheckOut</h1>

<div class="col d-flex justify-content-center">

    <table class="order-item-table">
        <tr><th>Quantity</th><th>Item</th><th>Price</th></tr>
        @foreach (var menuItem in Model.CurrentTakeoutOrder.FoodOrderItemList)
        {
            <tr style="border-bottom: 1px solid lightgray;padding:2px">
                <td style="font-size:12px">
                    <a asp-controller="Cart" asp-action="DecreaseQuantity" asp-route-itemId="@menuItem.Id">
                        @*<i class="fas fa-plus" style="font-size: 11px; margin-right: 5px; text-decoration: none">
                        </i>*@
                    </a> @menuItem.quantity  <a asp-controller="Cart" asp-action="IncreaseQuantity" asp-route-itemId="@menuItem.Id"><i class="fas fa-plus" style="font-size: 11px; margin-left:5px;"></i></a>
                </td>
                <td class="order-item">@menuItem.dishName </td>
                <td class="order-item" style="text-align:right">$ @menuItem.price</td>
                <td><a asp-area="" asp-controller="Cart" asp-action="DeleteFromCart" asp-route-itemIdToDelete="@menuItem.Id"><i class="fas fa-trash" style="font-size:11px"></i></a></td>
            </tr>
        }

        <tr><td /><td style="text-align:right">Sub Total</td><td style="font-weight: bolder;text-align:right">@Model.CurrentTakeoutOrder.OrderSubTotalCost</td></tr>
        <tr><td /><td style="text-align:right">Sales Tax</td><td style="font-weight: bolder;text-align:right">@Model.CurrentTakeoutOrder.TotalSalesTax</td></tr>
        <tr><br /></tr>
        <tr><td /><td style="font-weight: bolder; font-size: 2em;margin-top:20px">Order Total</td><td style="font-weight: bolder;font-size:2em">@Model.CurrentTakeoutOrder.OrderTotalCost</td></tr>
    </table>
</div>