@model Data.ViewModels.DashboardViewModel

    

    <h5>@Model.BusinessLocation.BusinessName</h5>


    <h5>@( $"{double.Parse(@Model.BusinessLocation.PhoneNumber): (000) 000-0000}" )</h5>

    <h5>@Model.BusinessLocation.StreetAddress</h5>

    <h5>@Model.BusinessLocation.City, @Model.BusinessLocation.State @Model.BusinessLocation.Zipcode</h5>


    <h5>@Model.BusinessLocation.Email</h5>

