<div>
    <h5>@Model.BusinessAddress.Phone</h5>

    <h5>@Model.BusinessAddress.BusinessName</h5>

    <h5>@Model.BusinessAddress.Email></h5>

    <h5>@Model.BusinessAddress.Address></h5>

    <h5>@Model.BusinessAddress.Website></h5>

    <button value="DashBoard" type="submit" onclick="location.href='@Url.Action(" DashBoard")'" id="addfooditem"><i class="fas fa-edit"></i>Edit</button>
</div>