@model Data.ViewModels.DashboardViewModel

    <h4><u>Location Info:</u></h4>

    <h5>@Model.BusinessLocation.BusinessName</h5>


    <h5>@( $"{double.Parse(@Model.BusinessLocation.PhoneNumber): (000) 000-0000}" )</h5>

    <h5>@Model.BusinessLocation.StreetAddress</h5>

    <h5>@Model.BusinessLocation.City, @Model.BusinessLocation.State @Model.BusinessLocation.Zipcode</h5>


    <h5>@Model.BusinessLocation.Email</h5>

    <button value="DashBoard" type="submit" onclick="location.href='@Url.Action(" DashBoard")'" id="addfooditem"><i class="fas fa-edit"></i>Edit</button>
