@model Data.ViewModels.DashboardViewModel


@using (Html.BeginForm("SaveBusinessLocation", "Admin", FormMethod.Post))
{
<table>
    <tr class="form-group">
        <td>Business Name</td>
        <td>@Html.TextBoxFor(m => m.MyBusinessLocation.BusinessName)</td>

    </tr>
    <tr class="form-group">
        <td>Phone Number</td>
        <td>@Html.TextBoxFor(m => m.MyBusinessLocation.PhoneNumber)</td>
    </tr>
    <tr class="form-group">
        <td>Email</td>
        <td>@Html.TextBoxFor(m => m.MyBusinessLocation.Email)</td>
    </tr>
    <tr class="form-group">
        <td>Street Address</td>
        <td>@Html.TextBoxFor(m => m.MyBusinessLocation.StreetAddress)</td>
    </tr>
    <tr class="form-group">
        <td>City</td>
        <td>@Html.TextBoxFor(m => m.MyBusinessLocation.City)</td>
    </tr>
    <tr class="form-group">
        <td>State</td>
        <td>@Html.TextBoxFor(m => m.MyBusinessLocation.State)</td>
    </tr>
    <tr class="form-group">
        <td>Zipcode</td>
        <td>@Html.TextBoxFor(m => m.MyBusinessLocation.Zipcode)</td>
    </tr>

    <tr> <td colspan="2"><input type="submit" value="Submit Form" class="btn btn-primary submit-order-button" />@*<i class="fas fa-share-square"></i>*@</td></tr>
</table>
}