@model Data.ViewModels.DashboardViewModel

@using (Html.BeginForm("SaveHoursOfOperation", "Admin", FormMethod.Post))
{

<table style="margin:100px 50px 0 0">
    <tr class="form-hours-group">
        <td><b>Sunday</b></td>
        <td>@Html.TextBoxFor(m => m.MyHoursOfOperation.SundayOpen)</td>
        <td>To</td>
        <td>@Html.TextBoxFor(m => m.MyHoursOfOperation.SundayClose)</td>
    </tr>
    <tr class="form-hours-group">
        <td><b>Sunday</b></td>
        <td>@Html.TextBoxFor(m => m.MyHoursOfOperation.MondayOpen)</td>
        <td>To</td>
        <td>@Html.TextBoxFor(m => m.MyHoursOfOperation.MondayClose)</td>
    </tr>
    <tr class="form-hours-group">
        <td><b>Sunday</b></td>
        <td>@Html.TextBoxFor(m => m.MyHoursOfOperation.TuesdayOpen)</td>
        <td>To</td>
        <td>@Html.TextBoxFor(m => m.MyHoursOfOperation.TuesdayClose)</td>
    </tr>
    <tr class="form-hours-group">
        <td><b>Sunday</b></td>
        <td>@Html.TextBoxFor(m => m.MyHoursOfOperation.WednesdayOpen)</td>
        <td>To</td>
        <td>@Html.TextBoxFor(m => m.MyHoursOfOperation.WednesdayClose)</td>
    </tr>
    <tr class="form-hours-group">
        <td><b>Sunday</b></td>
        <td>@Html.TextBoxFor(m => m.MyHoursOfOperation.ThursdayOpen)</td>
        <td>To</td>
        <td>@Html.TextBoxFor(m => m.MyHoursOfOperation.ThursdayClose)</td>
    </tr>
    <tr class="form-hours-group">
        <td><b>Sunday</b></td>
        <td>@Html.TextBoxFor(m => m.MyHoursOfOperation.FridayOpen)</td>
        <td>To</td>
        <td>@Html.TextBoxFor(m => m.MyHoursOfOperation.FridayClose)</td>
    </tr>
    <tr class="form-hours-group">
        <td><b>Sunday</b></td>
        <td>@Html.TextBoxFor(m => m.MyHoursOfOperation.SaturdayOpen)</td>
        <td>To</td>
        <td>@Html.TextBoxFor(m => m.MyHoursOfOperation.SaturdayClose)</td>
    </tr>
    <tr> <td colspan="2"><input type="submit" value="Submit Form" class="btn btn-primary submit-order-button" />@*<i class="fas fa-share-square"></i>*@</td></tr>
   
    </table>

}