@model Data.ViewModels.HomePageViewModel


<h5>Sunday: @Model.MyHoursOfOperation.SundayOpen to @Model.MyHoursOfOperation.SundayClose</h5>

<h5>Monday: @Model.MyHoursOfOperation.MondayOpen to @Model.MyHoursOfOperation.MondayClose</h5>

<h5>Tuesday: @Model.MyHoursOfOperation.TuesdayOpen to @Model.MyHoursOfOperation.TuesdayClose</h5>

<h5>Wednesday: @Model.MyHoursOfOperation.WednesdayOpen to @Model.MyHoursOfOperation.WednesdayClose</h5>

<h5>Thursday: @Model.MyHoursOfOperation.ThursdayOpen to @Model.MyHoursOfOperation.ThursdayClose </h5>

<h5>Friday: @Model.MyHoursOfOperation.FridayOpen to @Model.MyHoursOfOperation.FridayClose</h5>

<h5>Saturday: @Model.MyHoursOfOperation.SaturdayOpen to @Model.MyHoursOfOperation.SaturdayClose</h5>






