@model Data.ViewModels.HomePageViewModel


<h5>
    Sunday: @Html.DisplayNameFor(model => model.HoursOfOperation.SundayOpen)

     to   @Html.DisplayNameFor(model => model.HoursOfOperation.SundayClose)
    
</h5>
<h5>
    Monday: @Html.DisplayNameFor(model => model.HoursOfOperation.MondayOpen)

    to   @Html.DisplayNameFor(model => model.HoursOfOperation.MondayClose)

</h5>
<h5>
    Tuesday: @Html.DisplayNameFor(model => model.HoursOfOperation.TuesdayOpen)

    to   @Html.DisplayNameFor(model => model.HoursOfOperation.TuesdayClose)

</h5>
<h5>
    Wednesday: @Html.DisplayNameFor(model => model.HoursOfOperation.WednesdayOpen)

    to   @Html.DisplayNameFor(model => model.HoursOfOperation.WednesdayClose)

</h5>
<h5>
    Thursday: @Html.DisplayNameFor(model => model.HoursOfOperation.ThursdayOpen)

    to   @Html.DisplayNameFor(model => model.HoursOfOperation.ThursdayClose)

</h5>
<h5>
    Friday: @Html.DisplayNameFor(model => model.HoursOfOperation.FridayOpen)

    to   @Html.DisplayNameFor(model => model.HoursOfOperation.FridayClose)

</h5>
<h5>
    Saturday: @Html.DisplayNameFor(model => model.HoursOfOperation.SaturdayOpen)

    to   @Html.DisplayNameFor(model => model.HoursOfOperation.SaturdayClose)

</h5>





