@model Data.ViewModels.DashboardViewModel

@using (Html.BeginForm("SaveHoursOfOperation", "Admin", FormMethod.Post))
{

<table style="margin:100px 50px 0 0">
    <tr class="form-hours-group">
        <td><b>Sunday</b></td>
        <td>@Html.TextBoxFor(m => m.HoursOfOperation.SundayOpen)</td>
        <td>To</td>
        <td>@Html.TextBoxFor(m => m.HoursOfOperation.SundayClose)</td>
    </tr>
    <tr class="form-hours-group">
        <td><b>Sunday</b></td>
        <td>@Html.TextBoxFor(m => m.HoursOfOperation.MondayOpen)</td>
        <td>To</td>
        <td>@Html.TextBoxFor(m => m.HoursOfOperation.MondayClose)</td>
    </tr>
    <tr class="form-hours-group">
        <td><b>Sunday</b></td>
        <td>@Html.TextBoxFor(m => m.HoursOfOperation.TuesdayOpen)</td>
        <td>To</td>
        <td>@Html.TextBoxFor(m => m.HoursOfOperation.TuesdayClose)</td>
    </tr>
    <tr class="form-hours-group">
        <td><b>Sunday</b></td>
        <td>@Html.TextBoxFor(m => m.HoursOfOperation.WednesdayOpen)</td>
        <td>To</td>
        <td>@Html.TextBoxFor(m => m.HoursOfOperation.WednesdayClose)</td>
    </tr>
    <tr class="form-hours-group">
        <td><b>Sunday</b></td>
        <td>@Html.TextBoxFor(m => m.HoursOfOperation.ThursdayOpen)</td>
        <td>To</td>
        <td>@Html.TextBoxFor(m => m.HoursOfOperation.ThursdayClose)</td>
    </tr>
    <tr class="form-hours-group">
        <td><b>Sunday</b></td>
        <td>@Html.TextBoxFor(m => m.HoursOfOperation.FridayOpen)</td>
        <td>To</td>
        <td>@Html.TextBoxFor(m => m.HoursOfOperation.FridayClose)</td>
    </tr>
    <tr class="form-hours-group">
        <td><b>Sunday</b></td>
        <td>@Html.TextBoxFor(m => m.HoursOfOperation.SaturdayOpen)</td>
        <td>To</td>
        <td>@Html.TextBoxFor(m => m.HoursOfOperation.SaturdayClose)</td>
    </tr>
    <tr> <td colspan="2"><input type="submit" value="Submit Form" class="btn btn-primary submit-order-button" />@*<i class="fas fa-share-square"></i>*@</td></tr>
   
    </table>

}