@model Data.ViewModels.DashboardViewModel


<form method="post" style="margin:100px 50px 0 0">
    <div class="form-hours-group">
        <span>
        <b>Sunday  </b><input type="text" 
                              name="@Model.HoursOfOperation.SundayOpen" 
                              value="@Model.HoursOfOperation.SundayOpen" /><b> To </b>
        </span>
        <span><input type="text"
                     name="@Model.HoursOfOperation.SundayClose" 
                    value="@Model.HoursOfOperation.SundayClose" />
        </span>
    </div>

    <div class="form-hours-group">
        <span><b>Monday  </b><input type="text" 
                                    name="@Model.HoursOfOperation.MondayOpen" 
                                    value="@Model.HoursOfOperation.MondayOpen" /><b> To </b>
            </span>
        <span><input type="text" name="@Model.HoursOfOperation.MondayOpen" 
                     value="@Model.HoursOfOperation.MondayClose" />
        </span>
    </div>

    <div class="form-hours-group">
        <span><b>Tuesday  </b><input type="text" 
                                    name="@Model.HoursOfOperation.TuesdayOpen" 
                                    value="@Model.HoursOfOperation.TuesdayOpen" /><b> To </b>
            </span>
        <span><input type="text" name="@Model.HoursOfOperation.TuesdayClose" 
                     value="@Model.HoursOfOperation.TuesdayClose" />
        </span>
    </div>
    <div class="form-hours-group">
        <span><b>Wednesday  </b><input type="text"
                                    name="@Model.HoursOfOperation.WednesdayOpen" 
                                    value="@Model.HoursOfOperation.WednesdayOpen" /><b> To </b>
        </span>
        <span><input type="text" name="@Model.HoursOfOperation.WednesdayClose" 
                     value="@Model.HoursOfOperation.WednesdayClose" />
        </span>
    </div>

    <div class="form-hours-group">
        <span><b>Thursday  </b><input type="text" name="@Model.HoursOfOperation.ThursdayOpen" 
                                    value="@Model.HoursOfOperation.ThursdayOpen" /><b> To </b>
            </span>
        <span><input type="text" name="@Model.HoursOfOperation.ThursdayClose" 
                     value="@Model.HoursOfOperation.ThursdayClose" />
        </span>
    </div>

    <div class="form-hours-group">
        <span><b>Friday  </b><input type="text" 
                                    name="@Model.HoursOfOperation.FridayOpen" 
                                    value="@Model.HoursOfOperation.FridayOpen" /><b> To </b>
            </span>
        <span><input type="text" name="@Model.HoursOfOperation.FridayClose" 
                     value="@Model.HoursOfOperation.FridayClose" />
        </span>
    </div>

    <div class="form-hours-group">
        <span><b>Saturday  </b><input type="text" name="@Model.HoursOfOperation.SaturdayOpen" 
                                      value="@Model.HoursOfOperation.SaturdayOpen" /><b> To </b>
            </span>
        <span><input type="text" name="@Model.HoursOfOperation.SaturdayClose" 
                     value="@Model.HoursOfOperation.SaturdayClose" />
        </span>
    </div>


    <button value="DashBoard" type="submit" class="btn btn-primary submit-order-button" onclick="location.href='@Url.Action("CloseHourOfOperationForm")'" id="addfooditem"><i class="far fa-save"></i>Save</button>
</form>