@model Data.ViewModels.DashboardViewModel


<h5>Sunday: @Model.HoursOfOperation.FirstOrDefault().SundayOpen to @Model.HoursOfOperation.FirstOrDefault().SundayClose</h5>

<h5>Monday: @Model.HoursOfOperation.FirstOrDefault().MondayOpen to @Model.HoursOfOperation.FirstOrDefault().MondayClose</h5>

<h5>Tuesday: @Model.HoursOfOperation.FirstOrDefault().TuesdayOpen to @Model.HoursOfOperation.FirstOrDefault().TuesdayClose</h5>

<h5>Wednesday: @Model.HoursOfOperation.FirstOrDefault().WednesdayOpen to @Model.HoursOfOperation.FirstOrDefault().WednesdayClose</h5>

<h5>Thursday: @Model.HoursOfOperation.FirstOrDefault().ThursdayOpen to @Model.HoursOfOperation.FirstOrDefault().ThursdayClose </h5>

<h5>Friday: @Model.HoursOfOperation.FirstOrDefault().FridayOpen to @Model.HoursOfOperation.FirstOrDefault().FridayClose</h5>

<h5>Saturday: @Model.HoursOfOperation.FirstOrDefault().SaturdayOpen to @Model.HoursOfOperation.FirstOrDefault().SaturdayClose</h5>




