@model Data.ViewModels.DashboardViewModel


<h5>Sunday: @Model.MyHoursOfOperation.SundayOpen to @Model.HoursOfOperation.SundayClose</h5>

<h5>Monday: @Model.HoursOfOperation.MondayOpen to @Model.HoursOfOperation.MondayClose</h5>

<h5>Tuesday: @Model.HoursOfOperation.TuesdayOpen to @Model.HoursOfOperation.TuesdayClose</h5>

<h5>Wednesday: @Model.HoursOfOperation.WednesdayOpen to @Model.HoursOfOperation.WednesdayClose</h5>

<h5>Thursday: @Model.HoursOfOperation.ThursdayOpen to @Model.HoursOfOperation.ThursdayClose </h5>

<h5>Friday: @Model.HoursOfOperation.FridayOpen to @Model.HoursOfOperation.FridayClose</h5>

<h5>Saturday: @Model.HoursOfOperation.SaturdayOpen to @Model.HoursOfOperation.SaturdayClose</h5>




