@model Data.ViewModels.DashboardViewModel



<h5>Sunday: @Model.HoursOfOperation.SundayOpen to @Model.HoursOfOperation.SundayOpen</h5>

<h5>Monday: @Model.HoursOfOperation.MondayOpen to @Model.HoursOfOperation.MondayClose</h5>

<h5>Tuesday: @Model.HoursOfOperation.TuesdayClose to @Model.HoursOfOperation.TuesdayOpen</h5>

<h5>Wednesday: @Model.HoursOfOperation.WednesdayOpen to @Model.HoursOfOperation.WednesdayClose</h5>

<h5>@Model.HoursOfOperation.ThursdayOpen</h5>

<h5>@Model.HoursOfOperation.ThursdayClose</h5>


<h5>@Model.HoursOfOperation.FridayOpen</h5>

<h5>@Model.HoursOfOperation.FridayClose</h5>

<h5>@Model.HoursOfOperation.SaturdayOpen</h5>

<h5>@Model.HoursOfOperation.SaturdayClose</h5>



