@using System.ComponentModel.DataAnnotations.Schema
@model Data.ViewModels.HomePageViewModel
@*@{
        int chosenRating = 0;
    }*@

<h2 class="page-titles">Some of Our reviews</h2>

@if (Model != null && Model.Reviews != null && Model.Reviews.Count > 0)
{
    @foreach (var review in @Model.Reviews)
    {
        <div>

            <h3 style="display: inline-block; margin-right: 20px">@review.ReviewerName </h3>
            
            <p style="margin-left: 200px;display: inline-block"><b>@review.ReviewDate</b></p>



        </div>

        @for (int i = 0; i < review.Rating; i++)
        {
            <i class="fas fa-star" style="color: goldenrod; font-size: 22px; display: inline-block"></i>
        }

        <p>@review.ReviewString</p>

    }
}

<div style="margin-top: 50px;">
    <h1>Please leave a review</h1>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <table style="width:800px">
            <tr><td> <label for="Rating">Overall Rating</label></td></tr>
            <tr>
                <td onmouseout="CRateSelected()">
                    <i id="span1" class="far fa-star" onmouseout="CRateOut(1)" onmouseover="CRateOver(1)" onclick="CRateClick(1)" style="color: goldenrod; font-size: 22px; display: inline-block"></i>
                    <i id="span2" class="far fa-star" onmouseout="CRateOut(2)" onmouseover="CRateOver(2)" onclick="CRateClick(2)" style="color: goldenrod; font-size: 22px; display: inline-block"></i>
                    <i id="span3" class="far fa-star" onmouseout="CRateOut(3)" onmouseover="CRateOver(3)" onclick="CRateClick(3)" style="color: goldenrod; font-size: 22px; display: inline-block"></i>
                    <i id="span4" class="far fa-star" onmouseout="CRateOut(4)" onmouseover="CRateOver(4)" onclick="CRateClick(4)" style="color: goldenrod; font-size: 22px; display: inline-block"></i>
                    <i id="span5" class="far fa-star" onmouseout="CRateOut(5)" onmouseover="CRateOver(5)" onclick="CRateClick(5)" style="color: goldenrod; font-size: 22px; display: inline-block"></i>
                </td>
            </tr>

            <tr><td>Your Name</td></tr>
            <td>@Html.TextBoxFor(m => m.NewReview.ReviewerName)</td>

            <tr><td>Add a written review</td></tr>
            <tr><td colspan="3">@Html.TextAreaFor(m => m.NewReview.ReviewString, new { style = "width:700px;height:200px" })</td></tr>

        </table>

        @Html.HiddenFor(m => m.NewReview.Rating, new { id = "lblRating" })

        <td colspan="2"><input type="submit" value="Submit Form" /><i class="fas fa-share-square"></i></td>
        @*<button value="Home" type="submit" onclick="location.href = '@Url.Action("Review")'" id="addfooditem"><i class="fas fa-share-square"></i>Submit</button>*@



    }

</div>

@*@section Scripts {*@
<script src="~/js/rating-star.js" type="text/javascript"></script>
@*}*@
