@using System.ComponentModel.Design
@using System.Net.Mime
@model Data.ViewModels.PhotosViewModel
@*@model Data.Models.CarouselImage*@

<div style="margin-right:100px">
    @*<Image src="@Url.Content(@Model.CarouselImages[0].ImagePath)" height="400" width="500" />*@

    @*@for (int i = 0; i < @Model.CarouselImages.Count; i++)
        {
            <Image src="@Url.Content(@Model.CarouselImages[i].ImagePath)" height="200" width="300"/>
        }*@

    @if (@Model.CarouselImages != null && @Model.CarouselImages.Count > 0)
    {
    <div style="background-color: black; width: 500px; height: 400px;">
        <img id="slider" width="500" height="400" />
    </div>
        @*<img name="slide" width="500" height="400" />*@
        <input type="hidden" id="jasonPicData" value="Model.PhotoJson" />
    }
</div>

@*<script src="~/js/photo-carousel.js" type="text/javascript"></script>*@

<script>

    var i = 0; 			// Start Point
    var images = [];	// Images Array

    var time = 4000;	// Time Between Switch
    for (var index = 0; index < (@Model.CarouselImages.Count - 1); index++) {
        var k = index;
        images[i] ='@Url.Content(Model.CarouselImages[2].ImagePath)';
    }


    images[0] ='@Url.Content(Model.CarouselImages[0].ImagePath)';
    images[1] ='@Url.Content(Model.CarouselImages[1].ImagePath)';
    images[2] ='@Url.Content(Model.CarouselImages[2].ImagePath)';
    images[3] = '@Url.Content(Model.CarouselImages[3].ImagePath)';
    images[4] = '@Url.Content(Model.CarouselImages[4].ImagePath)';
    images[5] ='@Url.Content(Model.CarouselImages[5].ImagePath)';
    images[6] ='@Url.Content(Model.CarouselImages[6].ImagePath)';
    images[7] ='@Url.Content(Model.CarouselImages[7].ImagePath)';
    images[8] ='@Url.Content(Model.CarouselImages[8].ImagePath)';
    images[9] ='@Url.Content(Model.CarouselImages[9].ImagePath)';
    images[10] ='@Url.Content(Model.CarouselImages[10].ImagePath)';


    function slideShow() {
        document.getElementById('slider').className += "fadeOut";
        setTimeout(function() {
            document.getElementById('slider').src = images[i];
            document.getElementById('slider').className = "";
        },1000);
        i++;
        if (i >= images.length) { i = 0; }
        setTimeout(slideShow, time);
    }
    slideShow();



// Change Image
//    function changeImg() {
//        document.slide.src = images[i];

//        // Check If Index Is Under Max
//        if (i < images.length - 1) {
//            // Add 1 to Index
//            i++;
//        } else {
//            // Reset Back To O
//            i = 0;
//        }

//        // Run function every x seconds
//        setTimeout("changeImg()", time);
//    }

//// Run function when page loads
//    window.onload = changeImg;
</script>
