@using Data.Models.FoodMenus
@model Data.ViewModels.FoodMenuViewModel
@{
    ViewData["Title"] = "Edit Menu";
}


@if (Model.FoodItemList == null)
{
    return;
}



@if (!Globals.UserSignedIn)// || Globals.UserRole != Globals.UserRoles.Admin) //!User.IsInRole("Admin"))
{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <h1>Admin Only</h1>
}
else
{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    //  @await Html.PartialAsync("_AdminMenuPartial")

    <div class="right-side-content" style="overflow-y: auto; margin-top: 0">
        <div class="menu-table-div">


            <table class="menu-edit-table">
                <form>
                    <button id="btnClick" class="add-item-button" type="submit" asp-action="FoodMenuAddEdit" asp-controller="Admin"> <i class="fas fa-plus-circle"></i> Add Menu Items</button>
                </form>
                <thead>
                    <tr>
                        <th>Dish</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.FoodItemList != null && Model.FoodItemList.Count > 0)
                    {
                        
                        foreach (var menuItem in Model.FoodItemList)
                        {
                            <tr>
                                <td>@menuItem.dishName</td>
                                <td style="white-space: nowrap;">@menuItem.price.ToString("C")</td>
                                <td>@menuItem.description</td>
                                <td>@menuItem.foodCategory</td>
                                <td style="text-align: right; width:100px;"><a asp-action="FoodMenuAddEdit" asp-controller="Admin" asp-route-id="@menuItem.Id"><i class="fas fa-edit edit-td "></i></a></td>
                                <td style="text-align: right;"><a asp-action="DeleteMenuItem" asp-controller="Admin" asp-route-id="@menuItem.Id"><i class="fas fa-trash"></i></a></td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>

}

