@model Data.Models.FoodMenus.FoodMenu.FoodItem
@{
      Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewData["Title"] = "ModalPopup";

    string id = "", dishName = "", description = "", price = "", foodCategory = "", foodCategoryId = "", AddSaveButton = "Add Item";

    if (Model != null)
    {
        id = Model.id;
        dishName = Model.dishName;
        description = Model.description;
        price = Model.price;
        foodCategory = Model.foodCategory;
        foodCategoryId = Model.foodCategoryId;
        AddSaveButton = "Save Item";
    }
}

<div style="margin: 100px; display: inline-block;">
    @using (Html.BeginForm("PutMenuItem", "Admin", FormMethod.Post))
    {

        @*<form method="Post" class="menuAddForm" asp-action="PutMenuItem" asp-controller="Admin">*@

    <div class="menuAddForm">
        <div class="form-group">
            <label>Food Category</label>
            <input type="text" id="FoodCategory" name="FoodCategory" value="@(foodCategory)">
        </div>
        <div class="form-group">
            <label>Dish Name</label>
            <input type="text" id="DishName" name="DishName" value="@(dishName)">
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" id="Price" name="Price" value="@(price)">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" id="Description" name="Description" maxlength="100" value="@(description)">
        </div>
        <input type="hidden" id="id" name="id" value="@(id)" />
        <input type="hidden" id="foodCategoryId" name="foodCategoryId" value="@(foodCategoryId)" />
        <div>
            <a value="AddFoodItem" type="submit" id="addfooditem" class="btn btn-primary submit-order-button">@AddSaveButton</a>
            <a asp-controller="Admin" asp-action="FoodMenuEdit" type="submit" class="btn btn-primary submit-order-button">Cancel</a>

            
        </div>
        @*</form>*@
    </div>
    }
</div>