@model RamenOkiDoki.ViewModels.FoodItemsViewModel
@{
    ViewData["Title"] = "Edit Menu";
}


@if (Model.FoodItems == null)
{
    return;
}

<div class="combo-page">

    @if (!Globals.UserSignedIn || Globals.UserRole != Globals.UserRoles.Admin) //!User.IsInRole("Admin"))
    {
        <h1>Admin Only</h1>

    }
    else
    {

        @await Html.PartialAsync("_AdminMenuPartial")

        <div class="right-side-content" style="overflow-y: auto; ">
        <div class="menu-table-div">


            <table class="menu-edit-table">
                <form>
                    <button id="btnClick" class="add-item-button" type="submit" asp-action="FoodMenuAddEdit" asp-controller="Admin"> <i class="fas fa-plus-circle"></i> Add Menu Items</button>
                </form>
                <thead>
                    <tr>
                        <th>Dish</th>
                        <th>Korean</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var menuItem in Model.FoodItems)
                    {
                        <tr>
                            <td>@menuItem.dishName</td>
                            <td>@menuItem.koreanName</td>
                            <td style="white-space: nowrap;">$ @menuItem.price</td>
                            <td>@menuItem.description</td>
                            <td>@menuItem.categoryName</td>
                            <td><a asp-action="FoodMenuAddEdit" asp-controller="Admin" asp-route-id="@menuItem.id"><i class="fas fa-edit"></i></a></td>
                            <td><a asp-action="DeleteMenuItem" asp-controller="Admin" asp-route-id="@menuItem.id"><i class="fas fa-trash"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
            </div>
    }

    </div>