@model Data.Models.FoodMenus.FoodMenu.FoodItem
@{
    ViewData["Title"] = "ModalPopup";

    string id = "", dishName = "", koreanName = "", description = "", price = "", categoryName = "";

    if (Model != null)
    {
        id = Model.id;
        dishName = Model.dishName;
        koreanName = Model.koreanName;
        description = Model.description;
        price = Model.price;
        categoryName = Model.foodCategory;
    }
}

<div style="margin:100px">
    @using (Html.BeginForm("PutMenuItem", "Admin", FormMethod.Post))
    {

        @*<form method="Post" class="menuAddForm" asp-action="PutMenuItem" asp-controller="Admin">*@

        <div class="menuAddForm">
            <div class="form-group">
                <label>Food Category</label>
                <input type="text" id="CategoryName" name="CategoryName" value="@(categoryName)">
            </div>
            <div class="form-group">
                <label>Dish Name</label>
                <input type="text" id="DishName" name="DishName" value="@(dishName)">
            </div>
            <div class="form-group">
                <label>Korean Name</label>
                <input type="text" id="KoreanName" name="KoreanName" value="@(koreanName)">
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="text" id="Price" name="Price" value="@(price)">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" id="Description" name="Description" maxlength="100" value="@(description)">
            </div>
            <input type="hidden" id="id" name="id" value="@(id)" />
            <div>
                <button value="AddFoodItem" type="submit" id="addfooditem">Add Item</button>
                <button value="Close" asp-action="FoodMenuEdit" asp-controller="Admin">Cancel</button>
            </div>
            @*</form>*@
        </div>

    }

</div>