@model Data.ViewModels.FoodMenuViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewData["Title"] = "ModalPopup";

    string id = "", dishName = "", description = "", price = "", foodCategory = "", foodCategoryId = "", AddSaveButton = "Add Item";

    if (Model != null && Model.FoodItemToAddEdit != null)
    {
        id = Model.FoodItemToAddEdit.Id.ToString();
        dishName = Model.FoodItemToAddEdit.dishName;
        description = Model.FoodItemToAddEdit.description;
        price = Model.FoodItemToAddEdit.price;
        foodCategory = Model.FoodItemToAddEdit.foodCategory;
        foodCategoryId = Model.FoodItemToAddEdit.foodCategoryId.ToString();
        AddSaveButton = "Save Item";
    }
}

<div style="margin: 100px; display: inline-block;">

    @using (Html.BeginForm("PutMenuItem", "Admin", FormMethod.Post))
    {
        <table class="menuAddForm">
            <tr class="form-group">
                <td>Food Category</td>
                <td>
                    @Html.DropDownListFor(
                   m => m.FoodItemToAddEdit.foodCategory,
                   new SelectList(Model.FoodCategoryList, "Category", "Category"),
                   new { @class = "form-control menu-add-dropdown" }
                   )
                </td>

                    @*<td>@Html.TextBoxFor(m => m.foodCategory)</td>*@

            </tr>

            <tr class="form-group">
                <td>Dish Name</td>
                <td>@Html.TextBoxFor(m => m.FoodItemToAddEdit.dishName)</td>
            </tr>

            <tr class="form-group">
                <td>Price</td>
                <td>@Html.TextBoxFor(m => m.FoodItemToAddEdit.price)</td>
            </tr>


            <tr class="form-group">
                <td>Description</td>
                <td>@Html.TextBoxFor(m => m.FoodItemToAddEdit.description)</td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="@AddSaveButton" class="btn submit-order-button" />
                </td>
                <td>
                    <a asp-controller="Admin" asp-action="FoodMenuEdit" type="submit" class="btn submit-order-button">Cancel</a>
                </td>
            </tr>

            <input type="hidden" id="id" name="id" value="@(id)" />
            <input type="hidden" id="foodCategoryId" name="foodCategoryId" value="@(foodCategoryId)" />

        </table>
    }
</div>